[Unit]
Description=CKAN Celery

[Service]
Type=simple
User=ckan
Group=ckan
WorkingDirectory=/usr/lib/ckan/default/src/
ExecStart=/usr/lib/ckan/default/bin/paster --plugin=ckan celeryd run -c /etc/ckan/default/devel.ini

[Install]
WantedBy=multi-user.target
